In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('../data/espelho cnes nome fantasia.csv', sep=';', encoding='latin1')

In [8]:
data.head()

    cnes                                 nome fantasia
0  47341                         U. S. F DR. CERQUEIRA
1  47465       CENTRO DE SAÚDE MANOEL BEZERRA DA CUNHA
2  47473  UNIDADE DE SAÚDE DA FAMÍLIA LAGOA CASTANHOLA
3  47643         COORDENAÇÃO DE DERMATOLOGIA SANITARIA
4  47708                                         URGIL