In [1]:
import pandas as pd

# Mama

In [12]:
data = pd.read_csv('../data/Mama Radioterapia SIA-SUS.csv', error_bad_lines=False, encoding='latin1')

data = data.drop('Unnamed: 0', 1)

b'Skipping line 100354: expected 74 fields, saw 87\n'

In [13]:
data.head()

,AP_MVM,AP_CONDIC,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,...,AR_CIDTR3,AR_NUMC1,AR_INIAR1,AR_INIAR2,AR_INIAR3,AR_FIMAR1,AR_FIMAR2,AR_FIMAR3,AR_NUMC2,AR_NUMC3
0,201401,EP,120000,2001586,1214200029130,201401,304010090,990,120040,5,...,NaN,50.0,20140106.0,NaN,NaN,20140228.0,NaN,NaN,NaN,NaN
1,201401,EP,120000,2001586,1213200185890,201401,304010090,1950,120040,5,...,C771,50.0,20131216.0,20131216.0,20121216.0,20140228.0,20140131.0,20140131.0,25.0,25.0
2,201402,EP,120000,2001586,1214200045400,201402,304010090,690,120040,5,...,NaN,50.0,20140217.0,NaN,NaN,20140315.0,NaN,NaN,NaN,NaN
3,201402,EP,120000,2001586,1214200045322,201402,304010090,390,120040,5,...,NaN,10.0,20140211.0,NaN,NaN,20140228.0,NaN,NaN,NaN,NaN
4,201402,EP,120000,2001586,1214200045212,201402,304010090,2490,120040,5,...,C773,50.0,20140204.0,20140204.0,20140204.0,20140331.0,20140331.0,20140331.0,25.0,25.0

In [15]:
data.describe()

,AP_MVM,AP_GESTAO,AP_CODUNI,AP_AUTORIZ,AP_CMP,AP_PRIPAL,AP_VL_AP,AP_UFMUN,AP_TPUPS,AP_TIPPRE,...,AR_FINALI,AR_NUMC1,AR_INIAR1,AR_INIAR2,AR_INIAR3,AR_FIMAR1,AR_FIMAR2,AR_FIMAR3,AR_NUMC2,AR_NUMC3
count,313991.000000,313991.000000,3.139910e+05,3.139910e+05,313991.000000,3.139910e+05,313991.000000,313991.000000,313991.000000,313991.000000,...,313990.000000,289240.000000,2.865140e+05,6.281100e+04,1.134200e+04,2.864300e+05,6.281100e+04,1.134200e+04,156566.000000,125850.000000
mean,201610.810851,338336.154683,2.076599e+06,3.386367e+12,201610.065900,3.040103e+08,1523.160931,338973.060836,9.995885,17.749582,...,2.197796,60.316848,2.010434e+07,1.935597e+07,1.480347e+07,2.010584e+07,1.935633e+07,1.480552e+07,11.673518,1.239928
std,141.857585,73526.042579,1.208658e+06,7.345724e+11,141.584044,5.112415e+01,1132.380589,73532.027716,12.652263,25.836173,...,1.146696,52.213036,1.079594e+06,3.957507e+06,8.908053e+06,1.070635e+06,3.951011e+06,8.909772e+06,24.114057,5.883097
min,201401.000000,110000.000000,4.340000e+02,1.114200e+12,201401.000000,3.040101e+08,0.000000,110004.000000,5.000000,0.000000,...,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,201504.000000,292740.000000,2.078775e+06,2.918203e+12,201504.000000,3.040103e+08,606.000000,292740.000000,5.000000,0.000000,...,2.000000,4.000000,2.015031e+07,2.015020e+07,0.000000e+00,2.015051e+07,2.015042e+07,0.000000e+00,0.000000,0.000000
50%,201608.000000,350000.000000,2.237253e+06,3.514214e+12,201608.000000,3.040103e+08,1350.000000,350550.000000,7.000000,0.000000,...,2.000000,50.000000,2.016071e+07,2.016080e+07,2.016051e+07,2.016092e+07,2.016101e+07,2.016072e+07,0.000000,0.000000
75%,201710.000000,410000.000000,2.558246e+06,4.113201e+12,201710.000000,3.040103e+08,2270.000000,410400.000000,7.000000,40.000000,...,2.000000,120.000000,2.017092e+07,2.017091e+07,2.017071e+07,2.017113e+07,2.017113e+07,2.017093e+07,15.000000,0.000000
max,201903.000000,530000.000000,9.255400e+06,5.318202e+12,201812.000000,3.040103e+08,36873.000000,530010.000000,82.000000,61.000000,...,7.000000,144.000000,9.201080e+07,5.201100e+07,2.019013e+07,5.015033e+07,3.017033e+07,3.017033e+07,120.000000,120.000000

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313991 entries, 0 to 313990
Data columns (total 73 columns):
AP_MVM        313991 non-null int64
AP_CONDIC     313991 non-null object
AP_GESTAO     313991 non-null int64
AP_CODUNI     313991 non-null int64
AP_AUTORIZ    313991 non-null int64
AP_CMP        313991 non-null int64
AP_PRIPAL     313991 non-null int64
AP_VL_AP      313991 non-null int64
AP_UFMUN      313991 non-null int64
AP_TPUPS      313991 non-null int64
AP_TIPPRE     313991 non-null int64
AP_MN_IND     313991 non-null object
AP_CNPJCPF    313991 non-null int64
AP_CNPJMNT    207430 non-null float64
AP_CNSPCN     313991 non-null object
AP_COIDADE    313991 non-null int64
AP_NUIDADE    313991 non-null int64
AP_SEXO       313991 non-null object
AP_RACACOR    313991 non-null int64
AP_MUNPCN     313991 non-null int64
AP_UFNACIO    313989 non-null float64
AP_CEPPCN     313991 non-null int64
AP_UFDIF      313991 non-null int64
AP_MNDIF      313991 non-null int64
AP_DTINIC     313991 non-null int64
AP_DTFIM      313991 non-null int64
AP_TPATEN     313991 non-null int64
AP_TPAPAC     313991 non-null int64
AP_MOTSAI     313991 non-null int64
AP_OBITO      313991 non-null int64
AP_ENCERR     313991 non-null int64
AP_PERMAN     313991 non-null int64
AP_ALTA       313991 non-null object
AP_TRANSF     313991 non-null int64
AP_DTOCOR     113298 non-null float64
AP_CODEMI     313991 non-null object
AP_CATEND     313991 non-null int64
AP_APACANT    285820 non-null object
AP_UNISOL     312824 non-null float64
AP_DTSOLIC    302503 non-null object
AP_DTAUT      297159 non-null float64
AP_CIDCAS     313990 non-null object
AP_CIDPRI     313990 non-null object
AP_CIDSEC     313991 non-null object
AP_ETNIA      15 non-null object
AR_SMRD       1 non-null float64
AR_CID10      162370 non-null object
AR_LINFIN     313991 non-null object
AR_ESTADI     313991 non-null object
AR_GRAHIS     313991 non-null object
AR_DTIDEN     313991 non-null int64
AR_TRANTE     215620 non-null object
AR_CIDINI1    118584 non-null object
AR_DTINI1     133892 non-null float64
AR_CIDINI2    63325 non-null object
AR_DTINI2     78218 non-null object
AR_CIDINI3    15550 non-null object
AR_DTINI3     30541 non-null float64
AR_CONTTR     313990 non-null object
AR_DTINTR     313990 non-null float64
AR_FINALI     313990 non-null float64
AR_CIDTR1     285425 non-null object
AR_CIDTR2     60247 non-null object
AR_CIDTR3     8323 non-null object
AR_NUMC1      289240 non-null float64
AR_INIAR1     286514 non-null float64
AR_INIAR2     62811 non-null float64
AR_INIAR3     11342 non-null float64
AR_FIMAR1     286430 non-null float64
AR_FIMAR2     62811 non-null float64
AR_FIMAR3     11342 non-null float64
AR_NUMC2      156566 non-null float64
AR_NUMC3      125850 non-null float64
dtypes: float64(19), int64(29), object(25)
memory usage: 174.9+ MB